

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar</h2>

@*@using (Html.BeginForm("Eliminar", "Empleados", FormMethod.Post))
{
    @Html.LabelFor(@model => model.Id, "ID");
    @Html.TextBoxFor(model => model.Id);
    <br />

    @Html.LabelFor(@model => model.Nombre, "Nombre");
    @Html.TextBoxFor(model => model.Nombre);
    <br />

    @Html.LabelFor(@model => model.Apellido, "Apellido");
    @Html.TextBoxFor(model => model.Apellido);
    <br />

    <button type="submit">Eliminar</button>*@
}